
body, html {
  overflow-x: hidden; /* évite le scroll horizontal */
}

.container {
  max-width: 100%; /* s'assurer que la largeur ne dépasse pas */
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-12, .col-sm-6, .col-md-4 {
  display: flex;
  justify-content: center;
}


body {
  background-color: #121212;
  color: #fff;
  display: flex;
}

.text-color {
    color: #aaa8a8;
}

.rogne {
  overflow: hidden;
  border-radius: 20px !important; /* ou laisse Bootstrap gérer avec rounded-4 */
}

.skip-card {
  border: 1px solid #3f3e3e;
  background-color: #1c1c1c;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.skip-card:hover{
  border: 2px solid #0d6efd;
  box-shadow: 0 0 10px #0d6efd88;
}

.skip-card.selected {
  border: 2px solid #0d6efd;
  box-shadow: 0 0 10px #0d6efd88;
}

.bottom-bar {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  border-top: 1px solid #333;
  z-index: 999;
  transition: bottom 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  bottom: -100px;
  pointer-events: none;
}

.bottom-bar.show {
  opacity: 1;
  bottom: 0;
  pointer-events: all;
}

.bottom-bar.hide {
  opacity: 0;
  bottom: -100px;
  pointer-events: none;
}



